@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

.loader
{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
}

.loader.hide
{
    display: none;
}

/* .top-bar
{
    background-color: red;
    padding: 5px 0;
}

.top-bar .icon
{
    padding: 5px 0;
}

.top-bar .icon a 
{
    color: white;
    font-size: 13px;
    padding-left: 8px;
}

.top-bar .icon i
{
    font-size: 16px;
    padding-right: 3px;
    color: black;
}

.top-bar .icon i:hover
{
    color: white;
    opacity: 0.5s;
    transition: 0.5s;
}

.top-bar .bar
{
    float: right;
}

.top-bar .bar i
{
    padding: 7px 10px 7px 10px;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 50px;
    margin: 0 5px 0 5px;
    color: white;
}

.top-bar .bar i:hover
{
    background-color: black;
    color: orangered;
    opacity: 0.5s;
    transition: 0.5s;
} */

.nav-bar
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #424242;
    background-blend-mode: soft-light;
    width: 100%;
    height: 100vh;
    padding: 3% 0;
}

.nav-bar .first
{
    overflow: hidden;
}

.nav-bar .first ul
{
    display: flex;
    list-style: none;
}

.nav-bar .first li a
{
    padding: 0 10px 0 10px;
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
}

/* .nav-bar .first li a.active
{
    border-bottom: 3px solid red;
} */

.nav-bar  .first li a:hover
{
    border-bottom: 3px solid red;
    opacity: 0.5s;
    transition: 0.5s;
}

.nav-bar .logo img
{
    width: 35%;
    display: block;
    margin: auto;
    transform: translate(10px, -30px);
}

.nav-bar .logo a
{
    display: block;
    text-align: center;
    transform: translate(10px, -55px);
    font-size: 25px;
    color: white;
    font-family: initial;
}

.nav-bar .second ul
{
    display: flex;
    list-style: none;
}

.nav-bar .second li a
{
    padding: 0 10px 0 10px;
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
}

.nav-bar .second li a:hover
{
    border-bottom: 3px solid red;
    opacity: 0.5s;
    transition: 0.5s;
}

.nav-bar .second .btn1 
{
    margin-left: 4%;
}

.nav-bar .second .btn1 a
{
    background-color: #2bb673;
    padding: 7px 30px 7px 30px;
    border: 1px solid #1d7194;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}

.nav-bar .second .btn1 a:hover
{
    background-color: black;
    color: #2bb673;
    opacity: 0.5s;
    transition: 0.5s;
}

/* dropdown buttn */

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.parent li>a:hover  .dropdown-content {display: block;}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    
.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
}
      
.sidenav a:hover 
{
    color: orange;
}
    
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mobile-nav
{
    display: none;
}  

    
.openbtn, .closebtn
{
    cursor: pointer;
    font-size: 35px;
}

.openbtn
{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    display: none;
}

.nav-bar .mobile-nav .icon1
{
    margin: 10% 0px 0 20%;
    display: flex;
}

.nav-bar .mobile-nav .icon1 i
{
    font-size: 35px;
}

.nav-bar .slider
{
    padding-top: 5%;
}

.nav-bar .slider .slider-img img
{
    width: 90%;
}

.nav-bar .slider .slider-heading
{
    text-align: center;
}

.nav-bar .slider h1
{
    font-size: 40px;
    margin-bottom: 0;
    color: white;
}

.nav-bar .slider h6
{
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 0;
    color: #2bb673;
}

.nav-bar .slider .slider-heading .btton 
{
    margin-top: 3%;
}

.nav-bar .slider .slider-main .slider-heading .btton a
{
    padding: 0 3px 0 3px;
    color: white;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}

.nav-bar .slider .slider-heading .btton a:hover
{
    border-bottom: 3px solid red;
    opacity: 0.5s;
    transition: 0.5s;
}

.nav-bar .slider .btn2
{
    margin-top: 5%;
}

.nav-bar .slider .btn2 a
{
    background-color: #2bb673;
    padding: 7px 30px 7px 30px;
    border: 1px solid #1d7194;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}

.nav-bar .slider .btn2 a:hover
{
    background-color: #111;
    color: #2bb673;
    opacity: 0.5s;
    transition: 0.5s;
}

.search
{
    padding: 5% 0;
    background-color: #c1e0e4;
}

.search .scan .searchterm
{ 
    width: 80%;
    border: 1px solid #fff;
    padding: 10px;
    outline: none;
    color: #6b6b6b;
}

.search .input-btn
{
    position: absolute;
    height: 46px;
    border: 0px solid #00B4CC;
    background: #2bb673;
    color: white;
    cursor: pointer;
    padding: 12px;
}

.search .input-btn i
{ 
    font-size: 16px;
    padding: 0 10px;
    color: #f1f1f1;
}

.search .input-btn i:hover
{
    color: #111;
    opacity: 0.5s;
    transition: 0.5s;
}

.about
{
    padding: 6% 0;
    text-align: center;
    background-blend-mode: soft-light;
    background-color: #404040;
    background-size: cover;
    background-repeat: no-repeat;
}

.about .wrapper1 h1
{
    color: white;
    font-size: 40px;
    margin-bottom: 0;
}

.about .wrapper1 p
{
    color: #dedede;
    font-size: 14px;
    padding-top: 3%;
}
 
.about .wrapper1 .btn3
{
    margin-top: 5%;
}

.about .wrapper1 .btn3 a
{
    background-color: #2bb673;
    padding: 7px 30px 7px 30px;
    border: 1px solid #1d7194;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}

.about .wrapper1 .btn3 a:hover
{
    background-color: #111;
    color: #2bb673;
    opacity: 0.5s;
    transition: 0.5s;
}

.service
{
    padding: 5% 0 0 0;
    background-color: white;
}

.service .heading1 h1
{
    font-size: 40px;
    margin-bottom: 0;
    color: black;
    text-align: center;
}

.service .heading1 p
{
    color: grey;
    font-size: 14px;
    padding-top: 10px;
}

.service .images .img1 img
{
    width: 60%;
    height: 100%;
    box-shadow: 4px 4px 4px grey;
    object-fit: cover;
    object-position: top;
}

.service .images .wrapper2 .img2
{
    padding-top: 5%;
}

.service .images .wrapper2 .img2 img
{
    width: 40%;
    height: 100%;
    box-shadow: 4px 4px 4px grey;
    object-fit: cover;
    object-position: top;
}

.service .images  .wrapper2 .img3
{
    padding-top: 5%;
}

.service .images .wrapper2 .img3 img
{
    width: 50%;
    position: relative;
    float: right;
    top: -150px;
    height: 100%;
    box-shadow: 4px 4px 4px grey;
    object-fit: cover;
    object-position: top;
    transform: translate(-20px, 0px);
}

.employee
{
    padding: 6% 0;
    text-align: center;
    background-color: #111;
}

.employee .heading2
{
    
}

.employee .heading2 h1
{
    font-size: 40px;
    color: white;
    margin-bottom: 0;
}

.employee .heading2 p
{
    color: grey;
    margin-bottom: 0;
    font-size: 14px;
    padding-top: 10px;
}

.employee .wrapper3 
{
    padding-top: 5%;
}

.employee .wrapper3 .img4
{
  
}

.employee  .wrapper3 .img4 img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.employee  .wrapper3 a
{

}

.employee  .wrapper3 p
{
    padding-top: 5%;
    color: #bfbfbf;
    font-size: 15px;
    margin-bottom: 0;
}

.employee  .wrapper3 h6
{
    font-size: 20px;
    color: white;
    margin-bottom: 0;
}

.delivery 
{
    padding: 5% 0;
    background-color: #e1f1ff;
}

.delivery .gif1
{

}

.delivery .gif1 img
{
    width: 100%;
}

.delivery .heading3
{
    text-align: center;
}

.delivery .heading3 h1
{
    font-size: 40px;
    margin-bottom: 0;
    color: black;
}

.delivery .heading3 p
{
    color: gray;
    font-size: 15px;
    padding-top: 5%;
    margin-bottom: 0;
}

.delivery .heading3 .btn4
{
    margin-top: 5%;
}

.delivery .heading3 .btn4 a
{
    background-color: #2bb673;
    padding: 7px 30px 7px 30px;
    border: 1px solid #1d7194;
    border-radius: 6px;
    color: white;
    font-size: 16px;
}


.delivery .heading3 .btn4 a:hover
{
    background-color: #111;
    color: #2bb673;
    opacity: 0.5s;
    transition: 0.5s;
}

.pricing
{
    padding: 5% 0;
    background-color: white;
}

.pricing .heading4
{
    text-align: center;
}

.pricing .heading4 h1
{
    font-size: 40px;
    margin-bottom: 0;
    color: black;
}

.pricing .heading4 p
{
    font-size: 14px;
    padding-top: 10px;
    margin-bottom: 0;
    color: grey;
}

.pricing .wrapper4
{
    padding-top: 5%;
    text-align: center;
}

.pricing  .wrapper4 .price1
{
    background-color: #f7f4f4;
    padding: 15% 0;
}

.pricing  .wrapper4 .price1:hover
{
    box-shadow: 3px 4px 3px gray;
    opacity: 0.5s;
    transition: 0.5s;
}

.pricing .price1 .img5
{
    background-color: #b7b7b7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.pricing .price1 .img5 img
{
    width: 60%;
    position: relative;
    top: 20px;
}

.pricing .price1 .img5:hover
{
    background-color: black;
    opacity: 0.5s;
    transition: 0.5s;
}

.pricing .price1 .heading5
{
    padding-top: 10%;
}

.pricing .price1 .heading5 h6
{
    color: orange;
    font-size: 20px;
    margin-bottom: 0;
}

.pricing .price1 .heading5 h4
{
    color: black;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}

.pricing .price1 .icon1
{
    padding-top: 6%;
}

.pricing .price1 .icon1 i
{
    color: #2bb673;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    margin-right: 10px;
}

.pricing .price1 .icon1 p
{
    display: inline-block;
    color: #00B4CC;
    font-size: 15px;
}

.pricing .price1 .icon1 p span
{
    padding-right: 10px;
    color: black;
}
















































/* .about .wrapper1 .btn3 a
{
    background-color: #2bb673;
    padding: 7px 30px 7px 30px;
    border: 1px solid #1d7194;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}

.about .wrapper1 .btn3 a:hover
{
    background-color: #111;
    color: #2bb673;
    opacity: 0.5s;
    transition: 0.5s;
} */













@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 1366px)
{
    /* .nav-bar .second
    {
        margin-left: -5%;
    }

    .nav-bar .second .btn1
    {
        margin-left: 0%;
    } */
}

@media screen and (max-width: 768px)
{

    .nav-bar
    {
        height: 90vh;
        padding: 5% 0;
    }

    .nav-bar .first
    {
        margin-left: -15%;
    }

    .nav-bar .first li a
    {
        font-size: 12px;
    }

    .nav-bar .logo img
    {
        transform: translate(10px, -10px);
    }

    .nav-bar .logo a
    {
        transform: translate(10px, -25px);
    }

    .nav-bar .second
    {
        margin-left: -15%;
    }

    .nav-bar .second li a
    {
        font-size: 12px;
    }

    .nav-bar .second .btn1
    {
        margin-left: 0px;
    }

    .nav-bar .second .btn1 a
    {
        padding: 5px 12px 5px 12px;
        font-size: 13px;
    }

    .service .heading1 p
    {
        font-size: 11px;
    }

    .service .images .img1 img
    {
        width: 100%;
    }

    .service .images .wrapper2 .img2 img
    {
        width: 60%;
    }

    .service .images .wrapper2 .img3 img
    {
        top: -80px;
        transform: translate(10px, 0px);
        width: 40%
    }

    .employee .heading2 p
    {
        font-size: 13px;
    }

    .delivery .gif1
    {
        margin-top: 10%;
    }

    .delivery .heading3 h1
    {
        font-size: 30px;
    }

    .delivery .heading3 p
    {
        font-size: 12px;
    }

    .pricing
    {
        padding: 5% 0;
    }

    .pricing .heading4 p
    {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px)
{
    .openbtn
    {
        display: block;
    }

    .mobile-nav
    {
        display: block;
    }

    .nav-bar
    {
        height: 130vh;
        padding: 5% 0;
    }

    .nav-bar .first 
    {
        display: none;
    }

    .nav-bar .second
    {
        display: none;
    }

    .about .wrapper1 p
    {
        font-size: 10px;
    }

    .service
    {
        padding: 7% 0;
    }

    .service .heading1 p
    {
        font-size: 13px;
    }

    .service .images
    {
        padding-top: 10%;
    }

    .service .images .img1 img
    {
        width: 70%;
    }

    .service .images .wrapper2 .img2 img
    {
        width: 45%;
    }

    .service .images .wrapper2 .img3 img
    {
        top: -70px;
        transform: translate(-10px, 0px);
    }

    .employee
    {
        padding: 10% 0;
    }

    .employee .heading2 p
    {
        font-size: 13px;
    }

    .delivery
    {
        padding: 7% 0;
    }

    .delivery .heading3
    {
        padding-top: 5%;
    }

    .delivery .heading3 p
    {
        font-size: 13px;
    }

    .pricing
    {
        padding: 7% 0;
    }

    .pricing .heading4 p
    {
        font-size: 12px;
    }

    .pricing .wrapper4 .price1
    {
        margin-top: 5%;
    }


   
}

@media screen and (max-width: 425px)
{
    
}

@media screen and (max-width: 375px)
{
    
}

